<div>

  <div class="logos">
    <ul>
      <li><img src="../../assets/zillow-logo.png" width="100" height="25" alt="Zillow Real Estate Search" id="yui_3_18_1_1_1551346606723_314"></li>
      <li><img src="https://cloud.google.com/_static/f84ff004e8/images/cloud/cloud-logo.svg" width="100" height="25" ></li>
      <li><a href="https://steltenprojects.pb.online/" target="_blank"><img src="../../assets/steltenprojects-logo.png" width="100" height="25" ></a></li>
    </ul>
  </div>
  
  <div>
    HUTCH v1.0.1 beta &copy; 2019
    <br>
    karl.steltenpohl [at] gmail.com
  </div>

</div>